<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PruebaSUNATCS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CalculatorSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.dneonline.com/calculator.asmx"
                binding="basicHttpBinding" bindingConfiguration="CalculatorSoap"
                contract="WSCalculator.CalculatorSoap" name="CalculatorSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <PruebaSUNATCS.Properties.Settings>
            <setting name="PruebaSUNATCS_pe_gob_sunat_beta_billService" serializeAs="String">
                <value>https://e-beta.sunat.gob.pe:443/ol-ti-itcpfegem-beta/billService</value>
            </setting>
        </PruebaSUNATCS.Properties.Settings>
    </applicationSettings>
</configuration>